<div class="row">
  <div *ngIf="playerSelected">
    <div class="row">
      <div class="mr-auto">
        <app-title [title]="'Player: ' + playerSelected.id"></app-title>
      </div>
      <div class="mt-1">
        <button class="btn btn-dark" (click)="back()">Return</button>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input type="text" value="{{playerSelected.name}}" class="form-control" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Modality</label>
        <input type="text" value="{{playerSelected.modality}}" class="form-control" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Phone</label>
        <input type="text" value="{{playerSelected.phone}}" class="form-control" >
      </div>
    </form>
  </div>
  <div *ngIf="!playerSelected">
    <app-title [title]='title'></app-title>

    <table class="table table-hover" style="cursor: pointer;">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Modality</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players" (click)="playerSelect(player)">
          <th scope="row">{{player.id}}</th>
          <td>{{player.name}}</td>
          <td>{{player.modality}}</td>
          <td>{{player.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
