<div class="row">
  <div class="col-sm-6" *ngIf="coachSelected">
    <div class="row">
      <div class="mr-auto">
        <app-title [title]="'Coach: ' + coachSelected.id"></app-title>
      </div>
      <div class="mt-1">
        <button class="btn btn-dark" (click)="back()">Return</button>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input type="text" value="{{coachSelected.name}}" class="form-control" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Game</label>
        <input type="text" value="{{coachSelected.game}}" class="form-control" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Phone</label>
        <input type="text" value="{{coachSelected.phone}}" class="form-control" >
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <app-title [title]='title'></app-title>
    <table class="table table-hover" style="cursor: pointer;">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Game</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coach of coaches" (click)="coachSelect(coach)">
          <th scope="row">{{coach.id}}</th>
          <td>{{coach.name}}</td>
          <td>{{coach.game}}</td>
          <td>{{coach.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
